openapi: 3.0.0
info:
  title: AL Coding Standards API
  version: 1.0.0
  description: API to access AL coding standards from README.md document
servers:
  - url: https://api.github.com/repos/LewisHyett/MCPTest/contents
paths:
  /README.md:
    get:
      summary: Get AL coding standards from README
      description: Retrieves the content of the README.md file containing AL coding standards
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: string
                    description: Base64 encoded README markdown content
                  encoding:
                    type: string
                    example: "base64"
                  name:
                    type: string
                    example: "README.md"

  /persona.md:
    get:
      summary: Get reviewer persona markdown
      description: Retrieves the persona used to shape review tone and output format
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: string
                    description: Base64 encoded markdown content
                  encoding:
                    type: string
                    example: "base64"
                  name:
                    type: string
                    example: "persona.md"


